{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"remove","lines":["*.sqlite3\\*.pyc",".~c9","__pycache__/",""],"id":2},{"start":{"row":0,"column":0},"end":{"row":4,"column":6},"action":"insert","lines":["*.sqlite3","*.pyc",".~c9","__pycahce__/","env.py"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":6},"end":{"row":4,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1586177250207,"hash":"4bf7f974da853c04a28df77dd8311775a1bfa553"}